---
# Welcome to CE880
### This is your week-2 : Problem 1 notebook
### Spring Term 2022-23
#### Prepared by Dr Haider Raza

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

---
## Question 1:

Write a function to pass a list of numbers and calculate the exponential of all elements in the list format. 
`Hint`: take input as list and inside the function covert it into numpy array then perform the function. `Example` : input `[1, 4, 8]` and and output should be:  `[0.0, 2.0, 3.0]`

In [ ]:
import numpy as np
def myExp(mylist):
    out_list = [np.exp(elem) for elem in mylist]
    return out_list
    raise NotImplementedError()

In [ ]:
in_array = [1, 2, 4, 6]
myExp(in_array)

[2.718281828459045, 7.38905609893065, 54.598150033144236, 403.4287934927351]

In [ ]:
"""run these test cases"""
# Test case 1
my = [1, 2, 4, 6]
assert myExp(my) == [2.718281828459045, 7.38905609893065, 54.598150033144236, 403.4287934927351]

# Test case 2
my = [1, 10, 100]
assert myExp(my) == [2.718281828459045, 22026.465794806718, 2.6881171418161356e+43]

---

## Question 2:

Write a function to find the k number of the smallest values from a NumPy array and remove duplicate when returning as a list. 


For example: 
`nSmallest([23, 12, 1, 3, 1, 4, 0, 4, 5, 6],3) = [0, 1, 3]`

In [ ]:
def nSmallest(array, k):
    out = []
    array = list(set(array))
    for i in range(k):
      a = np.min(array)
      array.remove(a)
      out.append(a)
    return out
    raise NotImplementedError()

In [ ]:
nSmallest([10, 10, 2, 5, 4, 5, 6, 8, 2], 2)

[2, 4]

In [ ]:
"""run these test cases"""
assert nSmallest([23, 12, 1, 3, 1, 4, 0, 4, 5, 6],3) == [0, 1, 3]
assert nSmallest([100, 200, 2000, 30, 110],4) == [30, 100, 110, 200]
assert nSmallest([10, 10, 2, 5, 4, 5, 6, 8, 2], 2) == [2, 4]

---
## Question 3: 

 Write a program, which accept a list with `nan`s in it and count the maximum number of consecutive repeated `nan`.
 Example: In the `a = [nan, nan, 0.1, nan, 0.16, 1, 0.16, 0.9999, 0.0001, 0.16, 0.101, nan, 0.16]` and answer is 2.

In [ ]:
from numpy import nan
from math import isnan
def max_rep_nan(in_list):
    counter = 0
    max = 0
    for elem in in_list:
      if isnan(elem):
        counter +=1
        if max<counter:
          max = counter
      else:
        counter = 0
    return max 
    raise NotImplementedError()

In [ ]:
a = np.array([nan, nan, 0.1, nan, 0.16, 1, 0.16, 0.9999, 0.0001, 0.16, 0.101, nan, 0.16])
max_rep_nan(a)

2

In [ ]:
"""Check your answer by running this cell"""
a = [nan, nan, nan, 0.1, nan, 0.16, 1, 0.16, 0.101, nan]
assert max_rep_nan(a) == 3

a = [nan, nan, nan, nan, nan, 0.16, 1, 0.16, 0.101, nan]
assert max_rep_nan(a) == 5

a = [nan, 10, nan, 0.1, nan, 0.16, 1, 0.16, 0.101, nan]
assert max_rep_nan(a) == 1

a = []
assert max_rep_nan(a) == 0

## Pandas Data Frame

In [ ]:
from sklearn import datasets
import pandas as pd

In [ ]:
# import some data to play with
diabetes = datasets.load_diabetes()
X = pd.DataFrame(diabetes.data[:, :])  # we are taking all features.
y = diabetes.target
print(X)
print(y)

            0         1         2         3         4         5         6  \
0    0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1   -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2    0.085299  0.050680  0.044451 -0.005671 -0.045599 -0.034194 -0.032356
3   -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4    0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142
..        ...       ...       ...       ...       ...       ...       ...
437  0.041708  0.050680  0.019662  0.059744 -0.005697 -0.002566 -0.028674
438 -0.005515  0.050680 -0.015906 -0.067642  0.049341  0.079165 -0.028674
439  0.041708  0.050680 -0.015906  0.017282 -0.037344 -0.013840 -0.024993
440 -0.045472 -0.044642  0.039062  0.001215  0.016318  0.015283 -0.028674
441 -0.045472 -0.044642 -0.073030 -0.081414  0.083740  0.027809  0.173816

            7         8         9
0   -0.002592  0.019908 -0.017646
1   -0.039493 -0.068330 -0.092204
2   -0.002592  0.002864 -0.025930
3    0.034309  0.022692 -0.009362
4   -0.002592 -0.031991 -0.046641
..        ...       ...       ...
437 -0.002592  0.031193  0.007207
438  0.034309 -0.018118  0.044485
439 -0.011080 -0.046879  0.015491
440  0.026560  0.044528 -0.025930
441 -0.039493 -0.004220  0.003064

[442 rows x 10 columns]
[151.  75. 141. 206. 135.  97. 138.  63. 110. 310. 101.  69. 179. 185.
 118. 171. 166. 144.  97. 168.  68.  49.  68. 245. 184. 202. 137.  85.
 131. 283. 129.  59. 341.  87.  65. 102. 265. 276. 252.  90. 100.  55.
  61.  92. 259.  53. 190. 142.  75. 142. 155. 225.  59. 104. 182. 128.
  52.  37. 170. 170.  61. 144.  52. 128.  71. 163. 150.  97. 160. 178.
  48. 270. 202. 111.  85.  42. 170. 200. 252. 113. 143.  51.  52. 210.
  65. 141.  55. 134.  42. 111.  98. 164.  48.  96.  90. 162. 150. 279.
  92.  83. 128. 102. 302. 198.  95.  53. 134. 144. 232.  81. 104.  59.
 246. 297. 258. 229. 275. 281. 179. 200. 200. 173. 180.  84. 121. 161.
  99. 109. 115. 268. 274. 158. 107.  83. 103. 272.  85. 280. 336. 281.
 118. 317. 235.  60. 174. 259. 178. 128.  96. 126. 288.  88. 292.  71.
 197. 186.  25.  84.  96. 195.  53. 217. 172. 131. 214.  59.  70. 220.
 268. 152.  47.  74. 295. 101. 151. 127. 237. 225.  81. 151. 107.  64.
 138. 185. 265. 101. 137. 143. 141.  79. 292. 178.  91. 116.  86. 122.
  72. 129. 142.  90. 158.  39. 196. 222. 277.  99. 196. 202. 155.  77.
 191.  70.  73.  49.  65. 263. 248. 296. 214. 185.  78.  93. 252. 150.
  77. 208.  77. 108. 160.  53. 220. 154. 259.  90. 246. 124.  67.  72.
 257. 262. 275. 177.  71.  47. 187. 125.  78.  51. 258. 215. 303. 243.
  91. 150. 310. 153. 346.  63.  89.  50.  39. 103. 308. 116. 145.  74.
  45. 115. 264.  87. 202. 127. 182. 241.  66.  94. 283.  64. 102. 200.
 265.  94. 230. 181. 156. 233.  60. 219.  80.  68. 332. 248.  84. 200.
  55.  85.  89.  31. 129.  83. 275.  65. 198. 236. 253. 124.  44. 172.
 114. 142. 109. 180. 144. 163. 147.  97. 220. 190. 109. 191. 122. 230.
 242. 248. 249. 192. 131. 237.  78. 135. 244. 199. 270. 164.  72.  96.
 306.  91. 214.  95. 216. 263. 178. 113. 200. 139. 139.  88. 148.  88.
 243.  71.  77. 109. 272.  60.  54. 221.  90. 311. 281. 182. 321.  58.
 262. 206. 233. 242. 123. 167.  63. 197.  71. 168. 140. 217. 121. 235.
 245.  40.  52. 104. 132.  88.  69. 219.  72. 201. 110.  51. 277.  63.
 118.  69. 273. 258.  43. 198. 242. 232. 175.  93. 168. 275. 293. 281.
  72. 140. 189. 181. 209. 136. 261. 113. 131. 174. 257.  55.  84.  42.
 146. 212. 233.  91. 111. 152. 120.  67. 310.  94. 183.  66. 173.  72.
  49.  64.  48. 178. 104. 132. 220.  57.]

---
## Question 4:

Write a function to find the max number in the each column in the diabetes dataset and return the output as a list. Please make sure to round the output to two decimal points.

In [ ]:
def my_max_min(X):
    """Write a function to find the max number in the each column and return 
    as a list."""
    # YOUR CODE HERE
    return [round(elem, 2) for elem in X.max().to_list()]
    raise NotImplementedError()

In [ ]:
"""Check your output"""
assert my_max_min(X) == [0.11, 0.05, 0.17, 0.13, 0.15, 0.2, 0.18, 0.19, 0.13, 0.14]

---
## Question 5:


Write a function to calculate the `mean` and `standard deviation` of diabetes dataset (first column only). `Hint`: You can use NumPy aggregate functions. Create a list and append value to it and return the output.

In [ ]:
def stats(X):
    """Write a functon to calculate mean and standard deviation of IRIS dataset (last column only)."""
    return [np.mean(X.iloc[:,0]), np.std(X.iloc[:,0])]
    raise NotImplementedError()

In [ ]:
stats(X)

[-3.6396225400041895e-16, 0.04756514941545118]

In [ ]:
"""Check your output"""
# Test case
assert stats(X) == [-3.6396225400041895e-16, 0.04761904761904939]

AssertionError: ignored